@import 'src/styles/constants/index';
@import 'src/styles/mixins/index';

.product-detail {

  &__content {
    @include display()
  }

  &__aside {
    @include display($flex-direction: column);

    p {
      @include font-size($font-medium-plus)
    }
  }

  &__photo {
    width: 600px;
    margin: auto 50px;
  }

  &__info {
    @include display($flex-direction: column, $justify-content: start);
  }

  &__price {
    @include main-text($font-size: $font-large, $font-weight: $font-weight-500)
  }

  &__add-container {
    @include display($flex-direction: column);
    gap: $medium-gap
  }

  &__btn {
    @include button($background-color: $green);
    @include font-size(12px, 16px);
    cursor: pointer;
    transition: 0.2s linear;
  }

  &__btn:hover {
    color: #39a94b;
    background-color: transparent;
    border: 1px solid #39a94b;
  }

  &__seller-info {
    margin: 20px 0;

    h2 {
      margin-left: 10px;
    }
  }

  &__seller-info-table {
    border-collapse: collapse;
    width: 100%;

    tr {
      td {
        border-bottom: 1px solid #ddd;
        padding: 8px;
        width: 130px;
      }
    }
  }

  &__title {
    @include main-text(
      $font-size: $font-large2,
      $font-weight: $font-weight-300,
      $line-height: 43px
    )
  }

  &__back-btn {
    button {
      @include font-size(12px, 16px);
      padding: 5px;
      @include button($background-color: $sharp-blue);
    }
  }
}


@media (max-width: 1000px) {
  .detail-content {
    flex-direction: column;
  }
  .detail-content__text {
    align-items: center;
    width: 50%;
  }
  .detail-content__text p {
    text-align: justify;
  }
}

@media (max-width: 768px) {
  .product-photo {
    width: 500px;
  }

  .product-title {
    font-size: 24px;
  }

  .product-price {
    font-size: 18px;
  }

  .detail-content__text p {
    font-size: 16px;
  }

  .detail-content__text {
    width: 80%;
  }
}

@media (max-width: 575px) {
  .product-photo {
    width: 300px;
  }

  .detail-content__text p {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .product-add__container {
    flex-direction: column;
  }

  .product-add,
  input {
    margin: 5px auto;
    padding: 10px 25px;
    font-size: 18px;
  }
}
