<div *ngIf="$product | async as product; else loading" class="product-detail">
  <h2 class="product-detail__title">{{ product.productTitle }} ({{product.productCategory.productCategoryName}})</h2>
  <div class="product-detail__content">
    <img
      alt="{{ product.productTitle }}"
      class="product-detail__photo"
      src="{{ product?.imageLink }}"
    />
    <div class="product-detail__aside">
      <div class="product-detail__info">
        <p class="product-detail__desc">{{ product.longDescription }}</p>
        <h3 class="product-detail__price">${{ product.price }}</h3>
        <div class="product-detail__add-container">
          <app-cart-quantity-calculator (newQuantity)="setNewQuantity(product, $event)"
                                        [quantity]="quantity">

          </app-cart-quantity-calculator>
          <!--call onClickAdd function on a button click and pass product.id and input value-->
          <button (click)="onClickAdd(product)" [disabled]="+quantity < 0" class="product-detail__btn"
                  mat-raised-button>
            Add to Cart
          </button>
        </div>
      </div>
      <div class="product-detail__seller-info">
        <h2>Seller Info: </h2>
        <ng-container *ngIf="$dataSource | async as dataSource">
          <table *ngFor="let data of dataSource" class="product-detail__seller-info-table">
            <tr>
              <td>{{data.key}}:</td>
              <td>{{data.value}}</td>
            </tr>
          </table>
        </ng-container>
      </div>
      <div class='product-detail__back-btn'>
        <button (click)='onGoBack()' class='button btn-primary' mat-raised-button>Go back</button>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
