<mat-card *ngIf="cartItem">
  <img
    [alt]="cartItem.product.shortDescription"
    [src]="cartItem.product.imageLink"
    mat-card-image
  />
  <mat-card-content>
    <mat-card-title>{{ cartItem.product.productTitle }}</mat-card-title>
    <mat-card-subtitle>{{
      cartItem.product.shortDescription
      }}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-footer>
    <div class="price">
      <p>Price:</p>
      <p>{{ cartItem.product.price | currency : 'USD' }}</p>
    </div>
    <div class="quantity-section">
      <app-cart-quantity-calculator
        (newQuantity)="setNewQuantity(cartItem.product, $event)"
        [quantity]="cartItem.quantity.toString()"></app-cart-quantity-calculator>
    </div>
    <div class="remove-item">
      <button (click)="removeItem(cartItem.id)" type="button">Remove</button>
    </div>
  </mat-card-footer>
</mat-card>
