<div class="header">
  <div class="header__container">
    <div class="header__logo" routerLink="/home" style="cursor: pointer">
      <img alt="logo" src="assets/icons/logo.svg"/>
    </div>
    <div class="header__navbar">
      <div class="header__nav">
        <ul>
          <ng-container *ngFor="let navItem of navItems">
            <li
              *ngIf="hasPermission(navItem)"
              [routerLink]="navItem.routerLink"
              routerLinkActive="active"
              style="cursor: pointer"
            ><a>{{navItem.title}}</a></li>
          </ng-container>
        </ul>
      </div>
      <div class="header__nav header__nav--right">
        <mat-icon
          *ngIf="isUserAuth && user.role === 'customer'"
          [matBadge]="cartCounter"
          [ngClass]="btnIsHighlighted ? 'bump' : ''"
          matBadgeColor="warn"
          routerLink="/cart"
          style="cursor: pointer; position: relative"
        >shopping_cart
        </mat-icon
        >
        <mat-icon
          *ngIf="isUserAuth"
          [matMenuTriggerFor]="profile"
          style="cursor: pointer"
        >person_outline
        </mat-icon
        >
        <i
          *ngIf="!isUserAuth"
          class="material-icons"
          routerLink="/login"
          style="cursor: pointer"
        >login
        </i>
        <i
          *ngIf="!isUserAuth"
          class="material-icons"
          routerLink="/register"
          style="cursor: pointer"
        >lock_open</i>
      </div>
      <div class="header__burger">
        <button [matMenuTriggerFor]="menu" class="header__navbar-toggle" type="button">
          <span *ngFor="let iconBar of [1, 2, 3]" class="header__icon-bar"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<mat-menu #profile="matMenu">
  <button mat-menu-item>
    <mat-icon>person_outline</mat-icon>
    {{ user?.nickName }}
  </button>
  <button mat-menu-item>
    <mat-icon>mail_outline</mat-icon>
    {{ user?.email }}
  </button>
  <button mat-menu-item routerLink="private/settings" style="cursor: pointer">
    <mat-icon>settings</mat-icon>
    Settings
  </button>
  <mat-divider></mat-divider>
  <button (click)="onLogout()" mat-menu-item>
    <mat-icon>logout</mat-icon>
    Exit
  </button>
</mat-menu>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/home">
    <mat-icon>home</mat-icon>
    <a>Home</a>
  </button>
  <button mat-menu-item routerLink="/contacts">
    <mat-icon>contacts</mat-icon>
    <a>Contacts</a>
  </button>
  <button mat-menu-item routerLink="/info">
    <mat-icon>info</mat-icon>
    <a>Info</a>
  </button>
  <button
    *ngIf="isUserAuth && user.role === 'customer'"
    mat-menu-item
    routerLink="/shop"
  >
    <mat-icon>shopping_bag</mat-icon>
    <a>Shop</a>
  </button>
  <button
    *ngIf="isUserAuth && user.role === 'seller'"
    mat-menu-item
    routerLink="/seller-admin-panel"
  >
    <mat-icon>admin_panel_settings</mat-icon>
    <a>My Farm</a>
  </button>
  <button
    *ngIf="isUserAuth && user.role === 'seller'"
    mat-menu-item
    routerLink="/seller-orders"
  >
    <mat-icon>pending_actions</mat-icon>
    <a>Pending Orders</a>
  </button>
  <button
    *ngIf="isUserAuth && user.role === 'customer'"
    mat-menu-item
    routerLink="/customer-orders"
  >
    <mat-icon [matBadge]="cartCounter" matBadgeColor="warn"
    >shopping_basket
    </mat-icon
    >
    <a>My Orders</a>
  </button>
  <button
    *ngIf="isUserAuth && user.role === 'customer'"
    mat-menu-item
    routerLink="/cart"
  >
    <mat-icon>shopping_cart</mat-icon>
    <a>Cart</a>
  </button>
  <button *ngIf="isUserAuth" mat-menu-item routerLink="/private/settings">
    <mat-icon>settings</mat-icon>
    <a>Settings</a>
  </button>
  <mat-divider></mat-divider>
  <button *ngIf="isUserAuth" mat-menu-item>
    <mat-icon>logout</mat-icon>
    <a (click)="onLogout()">Logout</a>
  </button>
  <button *ngIf="!isUserAuth" mat-menu-item routerLink="/login">
    <mat-icon>login</mat-icon>
    <a style="cursor: pointer">Login</a>
  </button>
  <button *ngIf="!isUserAuth" mat-menu-item routerLink="/register">
    <mat-icon>lock_open</mat-icon>
    <a style="cursor: pointer">Register</a>
  </button>
</mat-menu>
