@import 'src/styles/constants/index';
@import 'src/styles/mixins/index';

li {
  list-style: none;
  margin-left: 15px;
  @include main-text($font-size: $font-medium, $font-family: $main-text)
}

a {
  color: $white;
  transition: 0.5s;
}

.cdk-overlay-pane {
  width: 100%;
}

.active a {
  color: #555 !important;
  font-weight: 500;
}

.cart-num {
  font-size: 12px;
  color: #fff;
  background: red;
  border-radius: 50%;
  padding: 0 5px;
}

.header {
  @include header-bg;
  display: flex;
  justify-content: center;

  &__container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;

    @include media-breakpoint-between('min', 'xs') {
      width: 100%;
    }
    @include media-breakpoint-between('s', 's') {
      width: 100%;
    }
    @include media-breakpoint-between('md', 'md') {
      width: 720px;
    }
    @include media-breakpoint-between(lg, lg) {
      width: 960px;
    }

    @include media-breakpoint-between(lg1, lg1) {
      width: 1140px;
    }

    @include media-breakpoint-between(lg2, xlg) {
      width: 1320px;
    }
  }

  &__logo {
    font-size: 24px;
    height: 45px;

    img {
      height: inherit;
    }
  }

  &__navbar {
    display: flex;
    @include media-breakpoint-up(md) {
      display: flex;
      width: inherit;
      justify-content: space-between;
    }
  }

  &__nav {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }

    ul {
      @include media-breakpoint-up(md) {
        display: flex;
      }
    }

    mat-icon {
      margin-left: 20px;
      color: $white;
    }
  }

  &__nav--right {
    @include media-breakpoint-up(md) {
      align-self: center;
    }
  }

  &__burger {
    display: flex;
    align-items: center;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin: 8px 15px 8px 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  &__navbar-toggle:hover {
    border-color: white;
  }

  &__navbar-toggle:focus {
    background-color: $gray50;
  }

  &__icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: $gray60;
  }

  &__icon-bar + &__icon-bar {
    margin-top: 4px;
  }
}


.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
