@import 'src/styles/constants/index';
@import 'src/styles/mixins/index';

.card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: start;
  border-radius: 5px;
  background-color: $gray5;
  color: $graphite;

  &__header {
    height: 70px;
  }

  &__title {
    margin: 0;

    @include main-text(
      $font-size: $font-big,
      $font-weight: $font-weight-800,
      $line-height: 2,
      $font-family: $font-source-sans-pro-black
    );
  }

  &__subtitle {
    margin: 0;
    @include main-text($font-size: $font-normal);
    color: $graphite;
  }

  &__content {
    width: 100%;
    @include display();

    div {
      h3 {
        @include main-text(
          $font-size: $font-medium-plus,
          $font-weight: $font-weight-800
        );
      }
    }
  }

  &__image-wrapper {
    position: relative;

    img {
      @include image-size($height: 300px, $width: 300px);
      margin: 15px 0;
      z-index: -10;
    }

    .view {
      visibility: hidden;
    }

    button {
      top: 95%;
      margin-left: -50px;
      display: none;
      z-index: -1;
    }
  }

  &__image-wrapper:hover {
    .view {
      align-items: center;
      background-color: $lime-green;
      opacity: 0.8;
      display: flex;
      justify-content: center;
      left: 0;
      top: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      transition: all 0.5s;
      visibility: visible;
      z-index: 1;
    }

    button {
      display: block;
      height: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      @include button($background-color: $green);
      margin-left: -50px;
      margin-top: -25px;
      transition: all 0.5s;
      visibility: visible;
      z-index: 1;
    }
  }

  &__product-add-container {
    display: flex;
  }

  &__product-add-input {
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
  }

  &__product-add-button {
    padding: 2px 30px;
    @include button($background-color: $green);
    transition: 0.2s linear;

    mat-icon {
      margin-left: 10px;
      font-size: 20px;
    }
  }

  &__product-add-button:hover {
    color: $green;
    background-color: $white;
  }

  &__footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    margin: 0;
  }

  &__footer-content > h3 {
    @include main-text(
      $font-size: $font-big,
      $font-weight: $font-weight-800,
      $line-height: 2,
      $font-family: $font-source-sans-pro-black
    );
  }

  @include media-breakpoint-between('min', 's') {
    margin: auto 5px 10px 5px;
    &__image-wrapper {
      width: 100%;

      img {
        @include image-size($width: 100%);
      }
    }
  }
}

