<div class="card">
  <div class="card__image-wrapper">
    <img
      [alt]="product.productTitle"
      [src]="product.imageLink"
      class="product-card__image"
      mat-card-image
    />
    <div class="view">
    </div>
    <button (click)="onDetailShow(product.id)" mat-raised-button>View Details</button>
  </div>
  <div class="card__header">
    <div class="card__title">{{ product.productTitle }}</div>
    <div class="card__subtitle">{{ product.shortDescription }}</div>
  </div>
  <div class="card__content">
    <h3>Seller info:</h3>
    <p><b>Name:</b> {{ product.seller.name }}</p>
    <p><b>User Address:</b> {{ product.seller.address.country }}</p>
    <p><b>City:</b> {{ product.seller.address.city }}</p>
  </div>
  <div class="card__footer">
    <div class="card__footer-content">
      <h3>Price: {{ product.price | currency : 'USD' }}</h3>
    </div>
    <div class="card__actions">
      <app-cart-quantity-calculator (newQuantity)="setNewQuantity(product, $event)" *ngIf="isThisProductInCart"
                                    [quantity]="quantity"></app-cart-quantity-calculator>
      <div *ngIf="!isThisProductInCart" class="card__product-add-container">
        <button
          (click)="onProductAddToCart(product)"
          class="card__product-add-button"
          mat-raised-button
        >
          Add to
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

